.arrivare {
   

}

.arrivare_title {
    font-family: 'Cormorant Infant', serif;
    font-size: 7rem;
    padding: 10px;
}

.arrivare_info {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 1px;
    padding: 15px;
    background-color: white;
}