.contact {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 50px;
  border-bottom: 0.8px solid orangered;
}

.contact_info {
  width: 100%;
  height: 1900px;
  background-color: rgb(247, 243, 243);
  display: block;
  padding: 20px;
  font-family: "Cormorant Infant", serif;
  text-align: center;
}

.contact_info__img {
  align-items: center;
  padding-bottom: 10px;
}

.contact_info__img img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 50px;
}

.contact_title__name {
  font-size: 50px;
  padding-bottom: 7px;
}
.contact_title {
  font-size: 40px;
  padding-bottom: 10px;
}

.contact_title__p {
  font-size: 25px;
  position: relative;
  text-align: center;
  padding: 18px 10px 18px 10px;
  border-bottom: 0.8px solid orangered;
  border-radius: 15px;
  background-color: white;
}


.contact_photo {
  width: 270px;
  height: 270px;
  border-radius: 200px;
  padding-bottom: 15px;
}

.material-symbols-outlined {
    font-size: 34px;
    padding: 7px;
}

.contact_title__d {
   color: rgb(205, 85, 42);
   font-size: 25px;
}
