.footer {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;    
    background-color: rgba(199, 195, 195, 0.342);
    padding: 20px;
    height: 10%;
    
}

.footer_list {
    text-decoration: none;
    margin: 10px;
    
}

.footer_list__item {
    text-decoration: none;
    padding: 22px;
    font-family: 'Cormorant Infant', serif;
    color: rgb(166, 84, 46);
    
}

.footer_list__item:hover {
    color: orangered;
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    border-bottom: 1px solid orangered;
    border-top: 1px solid orangered;
    
}

.footer_home {
    font-size: 18px;
    padding: 10px;
    
}

.footer_home a:hover {
    color: orangered;
    border-bottom: 1px solid orangered;
    border-top: 1px solid orangered;
}

.footer_home a {
    color: black;
    text-decoration: none;
    font-family: 'Cormorant Infant', serif;
}

.footer_design {
    font-size: 14px;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(226, 214, 214);
}