header {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;

  height: 100px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  background-color: var(--color-black);
  color: var(--color-white);

  nav {
    ul {
      display: flex;
      gap: 45px;
      list-style: none;
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      width: 663px;
      height: 19px;

      li > a > img {
        width: 20px;
        height: 20px;
      }

      li:hover {
        border-bottom: 2px solid var(--color-purple);
        padding-bottom: 57px;
      }
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 48px;
    gap: 10px;
    background-color: transparent;
    color: var(--color-white);
    width: 171px;
    height: 47px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #ffffff;
    width: 180px;
    height: 47px;
    transition: all 0.1s ease;
  }

  button:hover {
    border-color: var(--color-purple);
    background-color: var(--color-purple);
  }
}

.nav-burguer {
  display: none;
}

.logo-and-flag {
  display: none;
}

/* mobile version */

@media screen and (max-width: 390px) {
  header {
    display: none;
  }

  .nav-burguer {
    display: flex;
  }

  .logo-and-flag {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    align-items: end;
    width: 390px;
    height: 60px;
  }

  body {
    margin: 0;
    padding: 0;
    background: var(--color-black);
    color: #cdcdcd;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 1;
  }
  #menuToggle li:hover {
    color: var();
  }
  #menuToggle input {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 32px;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;

    margin-bottom: 5px;
    background: var(--color-white);
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out,
      opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 1px);
    background: var(--color-white);
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 200px;
    margin: -100px 0px 0px -50px;
    padding: 120px 50px 50px 50px;
    background: var(--color-black);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease-in-out;
    a {
      text-decoration: none;
    }
  }
  #menu li {
    padding: 10px 0px;
    font-size: 22px;
    color: var(--color-white);
    font-family: var(--ff-montserrat);
    font-style: normal;
    font-weight: 500;
  }

  #menu li a img {
    display: none;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
