@media screen and (max-width: 768px) {
  .about_us__title {
    width: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
  }

  .about_us_p {
    border-color: rgb(214, 104, 60);
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin: auto;
    width: 400px;
  }
}

@media screen and (max-width: 417px) {
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
    font-size: 19px;
    text-shadow: 0.5px 0.5px 1px white;
    border-bottom: none;
  }

  .title {
    
    margin-top: 48px;
  }

  .subtitle {
    font-size: 30px;
  }

  .explore .btn-lg {
    display: none;
  }

  .about_us__title {
    width: auto;
    margin: 0;
    padding: 1px;
  }

  .about_us_p {
    border-color: rgb(214, 104, 60);
    border-bottom-style: solid;
    border-bottom-width: thin;
    width: 300px;
    margin: auto;
  }

  .contact_info {
    height: 80%;
  }

  .footer_list {
    display: flex;
    flex-direction: column;
  }

  .footer_list__item:hover {
    color: rgb(19, 16, 15);
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    border: none;
  }

  .love {
    display: none;
  }

  .review {
    display: none;
    /* width: 80%;
    height: 115vh; */
  }

  .heading {
    padding: 51px;
  }

  .cards {
    margin-left: 50px;
  }
}
