@media screen and (max-width: 768px) {
  .about_us__title {
    width: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
  }

  .about_us_p {
    border-color: rgb(214, 104, 60);
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin: auto;
    width: 400px;
  }
}

@media screen and (max-width: 417px) {
  .subtitle {
    font-size: 50px;
    
  }

  .explore .btn-lg {
    display: none;
  }

 .about_us__title {
  width: auto;
  margin: 0;
  padding: 1px;
 }


  .about_us_p {
    border-color: rgb(214, 104, 60);
    border-bottom-style: solid;
    border-bottom-width: thin;
    width: 300px;
    margin: auto;
  }

  .contact_info {
    height: 80%;
  }

  .footer_list {
    display: flex;
    flex-direction: column;
  }

  .footer_list__item:hover {
    color: rgb(19, 16, 15);
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    border: none;
    
}

.love {
  display: none;
}



}
